@use '../variables/colors';
@use '../mixins/texts';
@use '../functions/var' as *;
@use 'sass:map';

.text {
  font: 1rem/1.5 Arial, Helvetica, sans-serif;
  padding: 1rem 0;
}

$full: map-merge(var(themes-#{var(defaultTheme)}), var(base));
@include texts.generate-color-texts($full);
