@charset "UTF-8";
body {
  min-height: 100vh;
  max-height: 100vh;
  font-size: 17px;
  overflow: hidden;
}

a {
  text-decoration: none !important;
}

body.sidebar-fixed .admin-app {
  display: grid;
  grid-template: 80px auto/250px auto;
  min-height: 100vh;
}
body.sidebar-fixed .sidebar {
  display: flex;
}
body.sidebar-fixed .content {
  left: 250px;
  width: calc(100% - 250px);
}

body.sidebar-hidden .admin-app {
  display: grid;
  grid-template: 80px auto/auto;
  min-height: 100vh;
}
body.sidebar-hidden .sidebar {
  display: none;
}
body.sidebar-hidden .content {
  left: 0px;
  width: 100%;
}

#root {
  min-height: 100vh;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.admin-app {
  display: grid;
  grid-template: 80px auto/max-content auto;
  min-height: 100vh;
}

.public-app {
  display: grid;
  grid-template-rows: minmax(60px, auto) auto 60px;
  min-height: 100vh;
  overflow: hidden;
  position: static;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.row {
  margin: 0;
  border: none;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-map {
  height: 300px;
  padding: 10px 0px 10px 0px;
}
@media screen and (min-width: 48rem) {
  .google-map {
    height: 100%;
  }
}

.card.card-contact {
  text-align: center;
  height: 100%;
}
.card.card-contact .col-md-6.contact-info {
  align-self: center;
  padding: 0 0 0 0;
}
.card.card-contact .row.contact-row {
  height: 100%;
}

.table td {
  padding: 0.3rem;
  width: min-content;
  text-align: center;
}

.content {
  position: absolute;
  top: 80px;
}

body.theme-light {
  background-color: #f5f6f7;
  color: #15172a;
}
body.theme-light .breadcrumbs {
  background-color: #f5f6f7;
}
body.theme-light .breadcrumbs__crumb {
  color: #15172a;
}
body.theme-light .admin-navbar__logo {
  border: 1px solid #15172a;
}
body.theme-light .admin-navbar__navitem a {
  color: #15172a;
}
body.theme-light .admin-navbar__navitem a:hover {
  color: #ff9800;
}
body.theme-light .sidebar__nav-link-active {
  border-left: 10px solid #15172a;
}
body.theme-light .sidebar {
  border-right: 1px solid #15172a;
}
body.theme-light .sidebar__nav-link {
  color: #15172a;
}
body.theme-light .modal-content {
  background-color: #f5f6f7;
}
body.theme-light .table {
  background-color: #f5f6f7;
  color: #15172a;
  border: 2px solid #15172a;
}
body.theme-light .table th {
  border: 2px solid #15172a;
}
body.theme-light .table td {
  border: 2px solid #15172a;
}
body.theme-light .card:not(.loginform__card) {
  overflow: auto;
  background-color: #f5f6f7;
  color: #15172a;
  border: none;
  max-height: calc(100vh - 80px);
}

body.theme-dark {
  background-color: #15172a;
  color: #f5f6f7;
}
body.theme-dark .breadcrumbs {
  background-color: #15172a;
}
body.theme-dark .breadcrumbs__crumb {
  color: #f5f6f7;
}
body.theme-dark .admin-navbar__logo {
  border: 1px solid #f5f6f7;
}
body.theme-dark .admin-navbar__navitem a {
  color: #f5f6f7;
}
body.theme-dark .admin-navbar__navitem a:hover {
  color: #ff9800;
}
body.theme-dark .sidebar__nav-link-active {
  border-left: 10px solid #f5f6f7;
}
body.theme-dark .sidebar {
  border-right: 1px solid #f5f6f7;
}
body.theme-dark .sidebar__nav-link {
  color: #f5f6f7;
}
body.theme-dark .modal-content {
  background-color: #15172a;
}
body.theme-dark .table {
  background-color: #15172a;
  color: #f5f6f7;
  border: 2px solid #f5f6f7;
}
body.theme-dark .table th {
  border: 2px solid #f5f6f7;
}
body.theme-dark .table td {
  border: 2px solid #f5f6f7;
}
body.theme-dark .card:not(.loginform__card) {
  overflow: auto;
  background-color: #15172a;
  color: #f5f6f7;
  border: none;
  max-height: calc(100vh - 80px);
}

body.theme-light .loginform {
  min-height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: -webkit-center;
  min-width: 200px;
}
body.theme-light .loginform__card {
  width: 80%;
  min-height: fit-content;
  background-color: #f5f6f7;
  color: #15172a;
  border: 2px solid #15172a;
}
body.theme-light .loginform__card-header {
  border: 2px solid #15172a;
  width: 100%;
}
body.theme-light .loginform__card-footer {
  border: 2px solid #15172a;
  width: 100%;
}
body.theme-light .loginform__dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #413e3e;
  background-color: #fafafa;
  color: black;
}

body.theme-dark .loginform {
  min-height: 100vh;
  display: grid;
  place-items: center;
  place-content: center;
  text-align: -webkit-center;
  min-width: 200px;
}
body.theme-dark .loginform__card {
  width: 80%;
  min-height: fit-content;
  background-color: #15172a;
  color: #f5f6f7;
  border: 2px solid #f5f6f7;
}
body.theme-dark .loginform__card-header {
  width: 100%;
  border: 2px solid #f5f6f7;
}
body.theme-dark .loginform__card-footer {
  width: 100%;
  border: 2px solid #f5f6f7;
}
body.theme-dark .loginform__dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #413e3e;
  background-color: #fafafa;
  color: black;
}

.admin-navbar {
  background: #211a1e !important;
  background: -moz-linear-gradient(180deg, #211a1e 0%, #2067ac 33%) !important;
  background: -webkit-linear-gradient(180deg, #211a1e 0%, #2067ac 33%) !important;
  background: linear-gradient(180deg, #211a1e 0%, #2067ac 33%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211a1e",endColorstr="#2067ac",GradientType=1) !important;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  width: 100%;
  position: absolute;
  flex-direction: row;
  min-height: 80px;
}
@media screen and (min-width: 50rem) {
  .admin-navbar {
    position: absolute;
    flex-direction: row;
    min-height: 80px;
  }
}
.admin-navbar__nav._show {
  display: flex;
  width: 100%;
}
.admin-navbar__logo {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
  width: 150px;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__logo {
    height: 80px;
    width: 250px;
  }
}
.admin-navbar__navlist {
  position: absolute;
  top: 4px;
  width: 50px;
  list-style-type: none;
  text-align: center;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__navlist {
    pposition: absolute;
    cursor: pointer;
    font-size: 10px;
    width: 250px;
    right: 0px;
  }
}
.admin-navbar__navitem {
  margin-left: 0px;
  left: 0px;
  padding: 10px;
}
.admin-navbar__navitem a {
  display: block;
  text-align: center;
  text-decoration: none;
}
.admin-navbar__navlink {
  color: #ffffff;
  display: block;
  line-height: 1rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}
@media screen and (min-width: 50rem) {
  .admin-navbar__navlink {
    padding: 1rem;
  }
}
.admin-navbar__navlink-active {
  background-color: rgba(109, 151, 161, 0);
  color: #fff30d;
  font-weight: bold;
  text-decoration: none;
}
.admin-navbar__span {
  position: absolute;
  top: 12px;
  left: 260px;
  cursor: pointer;
  font-size: 40px;
}
.admin-navbar__span input {
  display: none;
}
.admin-navbar__fa-icon {
  color: #ffffff;
}
.admin-navbar__profile-image {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: relative;
  right: 40px;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__profile-image {
    right: 10px;
  }
}
.admin-navbar__username {
  display: none;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__username {
    display: block;
    position: relative;
    top: 12px;
  }
}
.admin-navbar__profile {
  display: flex;
  color: white;
  position: relative;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.admin-navbar__profile-list {
  display: none;
  position: absolute;
  top: 65px;
  padding: 10px;
  right: -20px;
  list-style-type: none;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__profile-list {
    right: 10px;
    width: 100%;
  }
}
.admin-navbar__profile-list._show {
  display: block;
}

body.theme-light .admin-navbar__profile-list {
  background-color: #bcc3ca;
}

body.theme-dark .admin-navbar__profile-list {
  background-color: #373c6e;
  color: #f5f6f7;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  padding: 0px;
  position: absolute;
  top: 80px;
  left: 0px;
  height: calc(100vh - 80px);
  justify-content: center;
  display: flex;
}
.sidebar__navbar-nav {
  flex-direction: column;
  padding: 0px;
  width: 100%;
}
.sidebar__navitem {
  position: relative;
  width: 100%;
  list-style: none;
  justify-content: center;
}
.sidebar__nav-link, .sidebar__nav-link-active {
  display: flex;
  text-decoration: none;
  text-align: center;
}
.sidebar__nav-link:hover, .sidebar__nav-link-active:hover {
  text-decoration: none;
  background-color: #2067AC;
}
.sidebar__nav-link-active {
  text-decoration: none;
  background-color: #2067AC;
}
.sidebar__icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.sidebar__icon .fa {
  font-size: 24px;
}
.sidebar__title {
  position: relative;
  display: block;
  min-width: 60px;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.sidebar__toggler {
  display: block;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 22px;
  left: 170px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
@media screen and (min-width: 62rem) {
  .sidebar__toggler {
    left: 270px;
  }
}

.public-navbar {
  background: #211a1e;
  background: -moz-linear-gradient(180deg, #211a1e 0%, #2067ac 33%);
  background: -webkit-linear-gradient(180deg, #211a1e 0%, #2067ac 33%);
  background: linear-gradient(180deg, #211a1e 0%, #2067ac 33%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211a1e",endColorstr="#2067ac",GradientType=1);
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: white;
  min-height: 60px;
}
@media screen and (min-width: 50rem) {
  .public-navbar {
    flex-direction: row;
    max-height: 60px;
  }
}
.public-navbar__nav {
  display: none;
}
@media screen and (min-width: 50rem) {
  .public-navbar__nav {
    display: flex;
    padding-top: 6px;
    flex-direction: row;
  }
}
.public-navbar__nav._show {
  display: flex;
  padding-top: 61px;
  width: 100%;
  justify-content: center;
}
.public-navbar__logo {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100px;
}
.public-navbar__navlist {
  top: 60px;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  padding: 0;
  margin: 0;
  width: 100%;
}
@media screen and (min-width: 50rem) {
  .public-navbar__navlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.public-navbar__navitem {
  text-align: center;
  left: 30px;
  display: block;
}
.public-navbar__navlink {
  background-color: rgba(34, 34, 34, 0);
  color: #ffffff;
  display: block;
  line-height: 1rem;
  padding: 1rem;
  text-decoration: none;
}
@media screen and (min-width: 50rem) {
  .public-navbar__navlink {
    padding: 1rem;
  }
}
.public-navbar__navlink:hover {
  background-color: rgba(109, 151, 161, 0);
  color: #fff30d;
  font-weight: bold;
  text-decoration: none;
}
.public-navbar__navlink--active {
  background-color: rgba(109, 151, 161, 0);
  color: #fff30d;
  font-weight: bold;
  text-decoration: none;
}
.public-navbar__span {
  position: absolute;
  top: 6px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
}
@media screen and (min-width: 50rem) {
  .public-navbar__span {
    display: none;
  }
}
.public-navbar__fa-icon {
  color: #ffffff;
}

.public-content {
  position: relative;
  top: 0px;
  width: 100%;
  height: calc(100vh - 120px);
}
.public-content .card {
  height: calc(100vh - 120px);
  overflow: auto;
}
.public-content .carousel-root .slide,
.public-content .carousel-root .slide.selected {
  background-color: black;
}
.public-content .carousel-root .control-arrow {
  width: 25px;
}
@media screen and (min-width: 62rem) {
  .public-content .carousel-root .control-arrow {
    width: 70px;
  }
}
.public-content .carousel-image {
  height: calc(100vh - 120px);
  background-color: black;
  opacity: 0.3;
}
.public-content .carousel-legend {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  margin: 0 0 0 -45%;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  width: 90%;
  display: grid;
  place-items: center;
  height: calc(100vh - 180px);
  color: #fff;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 62rem) {
  .public-content .carousel-legend {
    font-size: 34px;
  }
}
.public-content .carousel-legend .nav-link {
  color: #15172a;
}

.public-footer {
  background: #211a1e;
  background: -moz-linear-gradient(0deg, #211a1e 0%, #2067ac 33%);
  background: -webkit-linear-gradient(0deg, #211a1e 0%, #2067ac 33%);
  background: linear-gradient(0deg, #211a1e 0%, #2067ac 33%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#211a1e",endColorstr="#2067ac",GradientType=1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  bottom: 0px;
  height: 60px;
  width: 100%;
  color: #ffffff;
  z-index: 2;
}

.card-fourofour {
  background-color: #f5f6f7;
  color: #15172a;
  border: none;
  max-height: calc(100vh - 80px);
  height: calc(100vh - 120px);
  margin-left: -15px;
  margin-right: -15px;
}

.fourofour__content {
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: -15px;
  display: grid;
  margin-right: -15px;
  width: 100%;
  position: fixed;
}
@media screen and (min-width: 48rem) {
  .fourofour__content {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.fourofour {
  max-width: 100%;
  max-height: calc(100vh - 120px);
  height: inherit;
  background: linear-gradient(90deg, #2f3640 23%, #181b20 100%);
}
.fourofour__content {
  width: 100%;
  min-height: 100%;
}

.moon {
  background: linear-gradient(90deg, #d0d0d0 48%, #919191 100%);
  position: absolute;
  top: 350px;
  left: -10%;
  width: 600px;
  height: 600px;
  content: "";
  border-radius: 100%;
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .moon {
    top: 5%;
    left: -80px;
    width: 600px;
    height: 600px;
  }
}
@media screen and (min-width: 62rem) {
  .moon {
    width: 900px;
    height: 900px;
    top: -100px;
    left: -300px;
  }
}

.moon__crater {
  position: absolute;
  content: "";
  border-radius: 100%;
  background: linear-gradient(90deg, #7a7a7a 38%, #c3c3c3 100%);
  opacity: 0.6;
}

.moon__crater1 {
  top: 250px;
  left: 500px;
  width: 60px;
  height: 180px;
  display: none;
}
@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .moon__crater1 {
    top: 250px;
    left: 440px;
    width: 60px;
    height: 180px;
  }
}
@media screen and (min-width: 62rem) {
  .moon__crater1 {
    top: 250px;
    left: 500px;
    width: 60px;
    height: 180px;
  }
}

.moon__crater2 {
  top: 650px;
  left: 340px;
  width: 40px;
  height: 80px;
  transform: rotate(55deg);
  display: none;
}
@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .moon__crater2 {
    top: 530px;
    left: 340px;
    width: 40px;
    height: 80px;
    transform: rotate(55deg);
  }
}
@media screen and (min-width: 62rem) {
  .moon__crater2 {
    top: 650px;
    left: 340px;
    width: 40px;
    height: 80px;
    transform: rotate(55deg);
  }
}

.moon__crater3 {
  top: -20px;
  left: 40px;
  width: 65px;
  height: 120px;
  transform: rotate(250deg);
  display: none;
}
@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .moon__crater3 {
    top: 80px;
    left: 60px;
    width: 65px;
    height: 120px;
    transform: rotate(250deg);
  }
}
@media screen and (min-width: 62rem) {
  .moon__crater3 {
    top: -20px;
    left: 40px;
    width: 65px;
    height: 120px;
    transform: rotate(250deg);
  }
}

.star {
  background: grey;
  position: absolute;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 100%;
  transform: rotate(250deg);
  opacity: 0.4;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shimmer {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
.star1 {
  top: 40%;
  left: 50%;
  animation-delay: 1s;
}

.star2 {
  top: 60%;
  left: 90%;
  animation-delay: 3s;
}

.star3 {
  top: 10%;
  left: 70%;
  animation-delay: 2s;
}

.star4 {
  top: 90%;
  left: 40%;
}

.star5 {
  top: 20%;
  left: 30%;
  animation-delay: 0.5s;
}

.error {
  width: 350px;
  position: absolute;
  left: 10%;
  top: 440px;
  transform: translateY(-60%);
  font-family: "Righteous", cursive;
  color: #363e49;
  height: 120px;
}
@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .error {
    top: 160px;
    left: 70px;
  }
}
@media screen and (min-width: 62rem) {
  .error {
    left: 100px;
    top: 150px;
  }
}

.error__title {
  font-size: 10em;
}

.error__subtitle {
  font-size: 2em;
}

.error__description {
  opacity: 0.5;
}

.error__button {
  min-width: 7em;
  margin-top: 3em;
  margin-right: 0.5em;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid #2f3640;
  background-color: transparent;
  border-radius: 8em;
  color: #576375;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 0.75em;
  font-family: "Righteous", cursive;
}

.error__button:hover {
  color: #21252c;
}

.error__button--active {
  background-color: #e67e22;
  border: 2px solid #e67e22;
  color: white;
}

.error__button--active:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  color: white;
}

.astronaut {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 55%;
  top: 25px;
  transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
}
@media screen and (min-width: 48rem) and (max-width: 62rem) {
  .astronaut {
    position: absolute;
    width: 145px;
    height: 270px;
    left: 80%;
    top: 30%;
    transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
  }
}
@media screen and (min-width: 62rem) {
  .astronaut {
    width: 185px;
    height: 300px;
    left: 70%;
    top: 50%;
  }
}

.astronaut__head {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  content: "";
  border-radius: 2em;
}

.astronaut__head-visor-flare1 {
  background-color: #7f8fa6;
  position: absolute;
  top: 28px;
  left: 40px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 2em;
  opacity: 0.5;
}

.astronaut__head-visor-flare2 {
  background-color: #718093;
  position: absolute;
  top: 40px;
  left: 38px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 2em;
  opacity: 0.3;
}

.astronaut__backpack {
  background-color: #bfbfbf;
  position: absolute;
  top: 90px;
  left: 47px;
  width: 86px;
  height: 90px;
  content: "";
  border-radius: 8px;
}

.astronaut__body {
  background-color: #e6e6e6;
  position: absolute;
  top: 115px;
  left: 55px;
  width: 70px;
  height: 80px;
  content: "";
  border-radius: 8px;
}

.astronaut__body__chest {
  background-color: #d9d9d9;
  position: absolute;
  top: 140px;
  left: 68px;
  width: 45px;
  height: 25px;
  content: "";
  border-radius: 6px;
}

.astronaut__arm-left1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 127px;
  left: 9px;
  width: 65px;
  height: 20px;
  content: "";
  border-radius: 8px;
  transform: rotate(-30deg);
}

.astronaut__arm-left2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 102px;
  left: 7px;
  width: 20px;
  height: 45px;
  content: "";
  border-radius: 8px;
  transform: rotate(-12deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
}

.astronaut__arm-right1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 113px;
  left: 100px;
  width: 65px;
  height: 20px;
  content: "";
  border-radius: 8px;
  transform: rotate(-10deg);
}

.astronaut__arm-right2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 78px;
  left: 141px;
  width: 20px;
  height: 45px;
  content: "";
  border-radius: 8px;
  transform: rotate(-10deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
}

.astronaut__arm-thumb-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 110px;
  left: 21px;
  width: 10px;
  height: 6px;
  content: "";
  border-radius: 8em;
  transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 90px;
  left: 133px;
  width: 10px;
  height: 6px;
  content: "";
  border-radius: 8em;
  transform: rotate(20deg);
}

.astronaut__wrist-left {
  background-color: #e67e22;
  position: absolute;
  top: 122px;
  left: 6.5px;
  width: 21px;
  height: 4px;
  content: "";
  border-radius: 8em;
  transform: rotate(-15deg);
}

.astronaut__wrist-right {
  background-color: #e67e22;
  position: absolute;
  top: 98px;
  left: 141px;
  width: 21px;
  height: 4px;
  content: "";
  border-radius: 8em;
  transform: rotate(-10deg);
}

.astronaut__leg-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 50px;
  width: 23px;
  height: 75px;
  content: "";
  transform: rotate(10deg);
}

.astronaut__leg-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 108px;
  width: 23px;
  height: 75px;
  content: "";
  transform: rotate(-10deg);
}

.astronaut__foot-left {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 43px;
  width: 28px;
  height: 20px;
  content: "";
  transform: rotate(10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22;
}

.astronaut__foot-right {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 111px;
  width: 28px;
  height: 20px;
  content: "";
  transform: rotate(-10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22;
}

.background--bgcolor {
  background-color: #f5f6f7;
}

.background--fontcolor {
  background-color: #15172a;
}

.background--primary {
  background-color: #2067AC;
}

.background--secondary {
  background-color: #607d8b;
}

.background--info {
  background-color: #009688;
}

.background--success {
  background-color: #4caf50;
}

.background--warning {
  background-color: #ff9800;
}

.background--danger {
  background-color: #f44336;
}

.button--bgcolor {
  background-color: #f5f6f7;
  border: 0;
}

.button--bgcolor:hover {
  background-color: #f5f6f7;
  border: 0;
}

.button--bgcolor:focus {
  background-color: #f5f6f7;
  border: 0;
}

.button--bgcolor:active {
  background-color: #f5f6f7 !important;
  border: 0;
}

.button--fontcolor {
  background-color: #15172a;
  border: 0;
}

.button--fontcolor:hover {
  background-color: #15172a;
  border: 0;
}

.button--fontcolor:focus {
  background-color: #15172a;
  border: 0;
}

.button--fontcolor:active {
  background-color: #15172a !important;
  border: 0;
}

.button--primary {
  background-color: #2067AC;
  border: 0;
}

.button--primary:hover {
  background-color: #2067AC;
  border: 0;
}

.button--primary:focus {
  background-color: #2067AC;
  border: 0;
}

.button--primary:active {
  background-color: #2067AC !important;
  border: 0;
}

.button--secondary {
  background-color: #607d8b;
  border: 0;
}

.button--secondary:hover {
  background-color: #607d8b;
  border: 0;
}

.button--secondary:focus {
  background-color: #607d8b;
  border: 0;
}

.button--secondary:active {
  background-color: #607d8b !important;
  border: 0;
}

.button--info {
  background-color: #009688;
  border: 0;
}

.button--info:hover {
  background-color: #009688;
  border: 0;
}

.button--info:focus {
  background-color: #009688;
  border: 0;
}

.button--info:active {
  background-color: #009688 !important;
  border: 0;
}

.button--success {
  background-color: #4caf50;
  border: 0;
}

.button--success:hover {
  background-color: #4caf50;
  border: 0;
}

.button--success:focus {
  background-color: #4caf50;
  border: 0;
}

.button--success:active {
  background-color: #4caf50 !important;
  border: 0;
}

.button--warning {
  background-color: #ff9800;
  border: 0;
}

.button--warning:hover {
  background-color: #ff9800;
  border: 0;
}

.button--warning:focus {
  background-color: #ff9800;
  border: 0;
}

.button--warning:active {
  background-color: #ff9800 !important;
  border: 0;
}

.button--danger {
  background-color: #f44336;
  border: 0;
}

.button--danger:hover {
  background-color: #f44336;
  border: 0;
}

.button--danger:focus {
  background-color: #f44336;
  border: 0;
}

.button--danger:active {
  background-color: #f44336 !important;
  border: 0;
}

.text {
  font: 1rem/1.5 Arial, Helvetica, sans-serif;
  padding: 1rem 0;
}

.text--bgcolor {
  color: #f5f6f7;
}

.text--fontcolor {
  color: #15172a;
}

.text--primary {
  color: #2067AC;
}

.text--secondary {
  color: #607d8b;
}

.text--info {
  color: #009688;
}

.text--success {
  color: #4caf50;
}

.text--warning {
  color: #ff9800;
}

.text--danger {
  color: #f44336;
}

.text--black {
  color: #222;
}

.text--white {
  color: #efefef;
}

.public-navbar__toggleTheme {
  position: absolute;
  top: 15px;
  right: 60px;
  width: 85px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}
@media screen and (min-width: 50rem) {
  .public-navbar__toggleTheme {
    right: 30px;
  }
}
.public-navbar__toggleTheme-checkbox {
  display: none;
}
.public-navbar__toggleTheme-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}
.public-navbar__toggleTheme-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.public-navbar__toggleTheme-inner:before, .public-navbar__toggleTheme-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.public-navbar__toggleTheme-inner:before {
  content: attr(data-on);
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #cecece;
  color: #222222;
}
.public-navbar__toggleTheme-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.public-navbar__toggleTheme-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}
.public-navbar__toggleTheme-inner:after {
  content: attr(data-off);
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #222222;
  color: #cecece;
  text-align: right;
}
.public-navbar__toggleTheme-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.public-navbar__toggleTheme-checkbox:checked + .public-navbar__toggleTheme-label .public-navbar__toggleTheme-inner {
  margin-left: 0;
}
.public-navbar__toggleTheme-checkbox:checked + .public-navbar__toggleTheme-label .public-navbar__toggleTheme-switch {
  right: 0px;
}

.admin-navbar__toggleTheme {
  position: absolute;
  top: 25px;
  right: 80px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 60px;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__toggleTheme {
    right: 230px;
    width: 90px;
  }
}
.admin-navbar__toggleTheme-checkbox {
  display: none;
}
.admin-navbar__toggleTheme-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}
.admin-navbar__toggleTheme-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.admin-navbar__toggleTheme-inner:before, .admin-navbar__toggleTheme-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}
.admin-navbar__toggleTheme-inner:before {
  font-family: "FontAwesome";
  content: "";
  font-size: 18px;
  padding-left: 10px;
  background-color: #cecece;
  color: #222222;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__toggleTheme-inner:before {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    content: attr(data-on);
    text-transform: uppercase;
    font-size: 15px;
    left: 0px;
  }
}
.admin-navbar__toggleTheme-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
.admin-navbar__toggleTheme-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}
.admin-navbar__toggleTheme-inner:after {
  content: "";
  font-family: "FontAwesome";
  font-size: 18px;
  padding-right: 10px;
  background-color: #222222;
  color: #cecece;
  text-align: right;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__toggleTheme-inner:after {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    content: attr(data-off);
    text-transform: uppercase;
    font-size: 15px;
  }
}
.admin-navbar__toggleTheme-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
@media screen and (min-width: 62rem) {
  .admin-navbar__toggleTheme-switch {
    right: 52px;
  }
}
.admin-navbar__toggleTheme-checkbox:checked + .admin-navbar__toggleTheme-label .admin-navbar__toggleTheme-inner {
  margin-left: 0;
}
.admin-navbar__toggleTheme-checkbox:checked + .admin-navbar__toggleTheme-label .admin-navbar__toggleTheme-switch {
  right: 0px;
}

/*# sourceMappingURL=style.css.map */
