$colors: (
  base: (
    black: #222,
    white: #efefef,
  ),
  defaultTheme: light,
  themes: (
    light: (
      bgcolor: #f5f6f7,
      fontcolor: #15172a,
      primary: #2067AC,
      secondary: #607d8b,
      info: #009688,
      success: #4caf50,
      warning: #ff9800,
      danger: #f44336,
    ),
    dark: (
      bgcolor: #15172a,
      fontcolor: #f5f6f7,
      primary: #2196f3,
      secondary: #607d8b,
      info: #009688,
      success: #4caf50,
      warning: #ff9800,
      danger: #f44336,
    ),
  ),
);
