@use "./variables/colors";
@use "./functions/var" as *;

body {
  min-height: 100vh;
  max-height: 100vh;
  font-size: 17px;
  overflow: hidden;
}

body.sidebar-fixed {
  .admin-app {
    display: grid;
    grid-template: 80px auto / 250px auto;
    min-height: 100vh;
  }

  .sidebar {
    display: flex;
  }

  .content {
    left: 250px;
    width: calc(100% - 250px);
  }
}

body.sidebar-hidden {
  .admin-app {
    display: grid;
    grid-template: 80px auto / auto;
    min-height: 100vh;
  }
  .sidebar {
    display: none;
  }

  .content {
    left: 0px;
    width: 100%;
  }
}

#root {
  min-height: 100vh;
}

.admin-app {
  display: grid;
  grid-template: 80px auto / max-content auto;
  min-height: 100vh;
}

.public-app {
  display: grid;
  grid-template-rows: minmax(60px, auto) auto 60px;
  min-height: 100vh;
  overflow: hidden;
  position: static;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.row {
  margin: 0;
  border: none;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.google-map {
  height: 300px;
  padding: 10px 0px 10px 0px;

  @media screen and (min-width: 48rem) {
    height: 100%;
  }
}

.card.card-contact {
  text-align: center;
  height: 100%;

  .col-md-6.contact-info {
    align-self: center;
    padding: 0 0 0 0;
  }

  .row.contact-row {
    height: 100%;
  }
}

.table {
  td {
    padding: 0.3rem;
    width: min-content;
    text-align: center;
  }
}

.content {
  position: absolute;
  top: 80px;
}

body.theme-light {
  background-color: var(themes-light-bgcolor);
  color: var(themes-light-fontcolor);

  .breadcrumbs {
    background-color: var(themes-light-bgcolor);

    &__crumb {
      color: var(themes-light-fontcolor);
    }
  }

  .admin-navbar__logo {
    border: 1px solid var(themes-light-fontcolor);
  }

  .admin-navbar__navitem a {
    color: var(themes-light-fontcolor);

    &:hover {
      color: var(themes-light-warning);
    }
  }

  .sidebar__nav-link-active {
    border-left: 10px solid var(themes-dark-bgcolor);
  }

  .sidebar {
    border-right: 1px solid var(themes-light-fontcolor);
  }

  .sidebar__nav-link {
    color: var(themes-light-fontcolor);
  }

  .modal-content {
    background-color: var(themes-light-bgcolor);
  }

  .table {
    background-color: var(themes-light-bgcolor);
    color: var(themes-light-fontcolor);
    border: 2px solid var(themes-light-fontcolor);

    & th {
      border: 2px solid var(themes-light-fontcolor);
    }

    & td {
      border: 2px solid var(themes-light-fontcolor);
    }
  }

  .card:not(.loginform__card) {
    overflow: auto;
    background-color: var(themes-light-bgcolor);
    color: var(themes-light-fontcolor);
    border: none;
    max-height: calc(100vh - 80px);
  }
}

body.theme-dark {
  background-color: var(themes-dark-bgcolor);
  color: var(themes-dark-fontcolor);

  .breadcrumbs {
    background-color: var(themes-dark-bgcolor);

    &__crumb {
      color: var(themes-dark-fontcolor);
    }
  }

  .admin-navbar__logo {
    border: 1px solid var(themes-dark-fontcolor);
  }

  .admin-navbar__navitem a {
    color: var(themes-dark-fontcolor);

    &:hover {
      color: var(themes-dark-warning);
    }
  }

  .sidebar__nav-link-active {
    border-left: 10px solid var(themes-light-bgcolor);
  }

  .sidebar {
    border-right: 1px solid var(themes-dark-fontcolor);
  }

  .sidebar__nav-link {
    color: var(themes-dark-fontcolor);
  }

  .modal-content {
    background-color: var(themes-dark-bgcolor);
  }

  .table {
    background-color: var(themes-dark-bgcolor);
    color: var(themes-dark-fontcolor);
    border: 2px solid var(themes-dark-fontcolor);
    & th {
      border: 2px solid var(themes-dark-fontcolor);
    }

    & td {
      border: 2px solid var(themes-dark-fontcolor);
    }
  }

  .card:not(.loginform__card) {
    overflow: auto;
    background-color: var(themes-dark-bgcolor);
    color: var(themes-dark-fontcolor);
    border: none;
    max-height: calc(100vh - 80px);
  }
}
