@use "./variables/colors";
@use "./functions/var" as *;

body.theme-light {
  .loginform {
    min-height: 100vh;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: -webkit-center;
    min-width: 200px;

    &__card {
      width: 80%;
      min-height: fit-content;
      background-color: var(themes-light-bgcolor);
      color: var(themes-light-fontcolor);
      border: 2px solid var(themes-dark-bgcolor);
    }

    &__card-header {
      border: 2px solid var(themes-dark-bgcolor);
      width: 100%;
    }

    &__card-footer {
      border: 2px solid var(themes-dark-bgcolor);
      width: 100%;
    }

    &__dropzone {
      text-align: center;
      padding: 20px;
      border: 3px dashed #413e3e;
      background-color: #fafafa;
      color: black;
    }
  }
}

body.theme-dark {
  .loginform {
    min-height: 100vh;
    display: grid;
    place-items: center;
    place-content: center;
    text-align: -webkit-center;
    min-width: 200px;

    &__card {
      width: 80%;
      min-height: fit-content;
      background-color: var(themes-dark-bgcolor);
      color: var(themes-dark-fontcolor);
      border: 2px solid var(themes-light-bgcolor);
    }

    &__card-header {
      width: 100%;
      border: 2px solid var(themes-light-bgcolor);
    }

    &__card-footer {
      width: 100%;
      border: 2px solid var(themes-light-bgcolor);
    }

    &__dropzone {
      text-align: center;
      padding: 20px;
      border: 3px dashed #413e3e;
      background-color: #fafafa;
      color: black;
    }
  }
}
