.public-navbar {
  &__toggleTheme {
    position: absolute;
    top: 11px;
    right: 60px;
    width: 85px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    @media screen and (min-width: 50rem) {
      right: 20px;
    }

    &-checkbox {
      display: none;
    }
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: attr(data-on);
        text-transform: uppercase;
        padding-left: 10px;
        background-color: #cecece;
        color: #222222;
      }
    }
    &-disabled {
      background-color: #ddd;
      cursor: not-allowed;
      &:before {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: attr(data-off);
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #222222;
      color: #cecece;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 50px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .public-navbar__toggleTheme-inner {
        margin-left: 0;
      }
      .public-navbar__toggleTheme-switch {
        right: 0px;
      }
    }
  }
}

.admin-navbar {
  &__toggleTheme {
    position: absolute;
    top: 25px;
    right: 220px;
    width: 85px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    @media screen and (min-width: 50rem) {
      right: 220px;
    }

    &-checkbox {
      display: none;
    }
    
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: attr(data-on);
        text-transform: uppercase;
        padding-left: 10px;
        background-color: #cecece;
        color: #222222;
      }
    }
    &-disabled {
      background-color: #ddd;
      cursor: not-allowed;
      &:before {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: attr(data-off);
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #222222;
      color: #cecece;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 50px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .admin-navbar__toggleTheme-inner {
        margin-left: 0;
      }
      .admin-navbar__toggleTheme-switch {
        right: 0px;
      }
    }
  }
}
